{% extends "LeaptAdminBundle::base.html.twig" %}

{# body block #}
{% block body %}

    {# pageheader block #}
    {% block pageheader %}
        <section class="content-header">
            <h1>{{ 'dashboard.title'|trans({}, 'LeaptAdminBundle') }}</h1>
        </section>
    {% endblock pageheader %}

    {# intro block #}
    {% block intro %}
        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'dashboard.introduction.title'|trans({}, 'LeaptAdminBundle') }}</h3>
                </div>
                <div class="box-body">
                    {{ 'dashboard.introduction.description'|trans({}, 'LeaptAdminBundle')|raw }}
                </div>
            </div>
        </section>
    {% endblock intro %}

    {# widgets block #}
    {% block widgets %}

        {# {% render 'LeaptAdminBundle:Log:list' %} #}

    {% endblock widgets %}

{% endblock body %}